<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <resource-ref>
        <res-ref-name>jdbc/MovieSearchDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>save_path</param-name>
        <param-value>/tmp</param-value>
    </context-param>

    <context-param>
        <param-name>index_path</param-name>
        <param-value>/tmp/movie.idx</param-value>
    </context-param>

    <context-param>
        <param-name>library_path</param-name>
        <param-value>/Users/vzhang/Downloads/nfo</param-value>
    </context-param>

    <context-param>
        <param-name>connection_string</param-name>
        <param-value>jdbc:mysql://192.168.1.1:3306/MovieSearch?user=sa&amp;password=9Qt5mhlx&amp;useUnicode=true&amp;characterEncoding=UTF8</param-value>
    </context-param>

</web-app>